ol.in li{
   list-style-position: inside;
   background-color: #c5c0c0;
   padding: 5px;
   margin: 5px;
}
ol.out li{
   list-style-position: outside;
   background-color:  #c5c0c0;
   padding: 5px;
   margin: 5px;

}
ol.inside li{
   list-style-position: inside;
   background-color: cyan;
}
ol.outside li{
   list-style-position: outside;
   background-color: pink;
}
