.container{
   margin: 50px 250px;
   padding: 80px;
   border: 5px solid blue;
}
.container p{
   line-height: 50px;
   text-align: justify;
}
.box{
   position: fixed;
   left: 450px;
   top: 3px;
   width: 30%;
   background-color: orangered;
   color: #ffebcd;
   padding: 20px;
}